# Laravel & Composer
/vendor/
node_modules/
public/storage
storage/*.key
/storage/*

.env
.env.*.local

# Laravel 5 & 6
/public/hot
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/.idea
/.vscode
/.phpunit.result.cache

# Laravel 7 and above
/.phpunit.result.cache
/phpunit.result.cache

# Logs
*.log
*.sql

# Cache & session
bootstrap/cache/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# Misc
.DS_Store
*.sqlite
*.sqlite3
*.sublime-workspace

# NPM & Yarn
npm-debug.log
yarn-error.log
package-lock.json

# Compiled assets (add these to ignore production files)
/public/js/*
/public/css/*
/public/mix-manifest.json
/public/fonts/*
/public/images/*
/public/assets/*
/public/assets/js/*
/public/assets/css/*

/storage/app/firebase/crmanagement-7a4dc-1b8e1315ccb9.json